<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% if title is defined %}
        {{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <link href="{{ url('assets/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <!--link href="{{ url('assets/css/custom.css') }}" type="text/css" rel="stylesheet"-->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Generic Church</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a href="{{ url('') }}" class="nav-link {% if craft.app.request.getSegment(2)=='' %}active{% endif %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('about') }}" class="nav-link {% if craft.app.request.getSegment(2)=='about' %}active{% endif %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('contact') }}" class="nav-link {% if craft.app.request.getSegment(2)=='contact' %}active{% endif %}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('news') }}" class="nav-link {% if craft.app.request.getSegment(2)=='news' %}active{% endif %}">News</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('donate') }}" class="nav-link {% if craft.app.request.getSegment(2)=='donate' %}active{% endif %}">Donate</a>
                        </li>
                        <li class="nav-item ">
                            <a id="livestream" href="{{ url('live') }}" class="nav-link {% if craft.app.request.getSegment(2)=='live' %}active{% endif %}">
                                <span>Livestreams</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="content" role="main"> {% block content %}{% endblock %}
    </main>
    <footer class="bg-primary text-white" id="footer">
        <p class="float-end">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; Copyright
            {{ now | date('Y') }}
            {{ siteName }}
            &middot;
            <a href="#">Privacy</a>
            &middot;
            <a href="#">Terms</a>
        </p>
    </footer>
    <script src="{{ url('assets/js/plugins/modernizr/modernizr.min.js') }}"></script>
    <script src="{{ url('assets/js/jquery-1.11.2.js') }}"></script>
    <script src="{{ url('assets/js/bootstrap.js') }}"></script>
    <script src="{{ url('assets/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url('assets/js/plugins/audio/audioplayer.js') }}"></script>
    
    <script>
    function doPoll() {
        $.get('/actions/youtubeliveembed/info/is-live', function(response) {
            if (response) {
                $('#livestream').addClass('live pulsate');
                $('#livestream > span').text('On Air');
                $('#livestream-player').show();
                $('#livestream-no-player').hide();
                $('#livestream-chat').show();
                $('#livestream-no-chat').hide();
            } else {
                $('#livestream').removeClass('live pulsate');
                $('#livestream > span').text('Livestreams');
                $('#livestream-player').hide();
                $('#livestream-no-player').show();
                $('#livestream-chat').hide();
                $('#livestream-no-chat').show();
            }
            setTimeout(doPoll, 3000);
        });
    }
    doPoll();
    </script>

</body>

</html>