{% extends "_layout" %}
{% block content %}
<link href="/assets/css/site.css" rel="stylesheet" type="text/css" media="screen">
{% css %}

.tabs {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

.tabs button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

.tabs button:hover {
background-color: #ddd;
}

.tabs button.active {
background-color: #ccc;
}

.tab-content {
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
width: 100%;
Height: 80%;
}
{% endcss %}
{% set pageTitle = "Live" %}
{% set page = "Live" %}
{% if craft.youtubelive.isLive() %}
<script>
    var live_streaming = true;
    var need_countdown = false;
</script>
{% else %}
<script>
    var live_streaming = false;
    var need_countdown = true;
</script>
{% endif %}
<hr />

<div class="container mg-t-lg mg-b-lg serif" id="live-page">
    <div class="row mg-t-xs no-gutter">
        <div class="col-md-12 col-lg-7" id="section-video">
            <div class="video-holder" id="video-holder">
                <div class="fluid-width-video-wrapper">
                    <div id="livestream-player">
                        {{ craft.youtubelive.embedStream() }}
                    </div>
                    <div id="livestream-no-player">
                        <img src="/assets/css/img/offline2.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="countdown-block" id="countdown-block">
                <div class="countdown-holder pull-left">
                    <div id="defaultCountdown">
                    </div>
                </div>
                <div class="next-service-outer pull-left">
                    <div class="next-service" id="next-service">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="takeaway-block " id="takeaway-block">
                {{ entry.sermonNotes }}
            </div>
            <div class="live-sermon-info mg-t-md ">
                <div class="pull-right hidden-xs hidden-sm hidden-md mg-b-sm"><a href="javascript:void(0);" class=" mg-r-sm2" id="expand"><i class="fa-lg  icon-maximize-4"></i></a>
                    <a href="javascript:void(0);" class="size-control-disabled" id="contract"><i class="fa-lg icon-minimize-1"></i></a>
                </div>
                <div id="live-message-details">
                </div>
            </div>
            <div class="text-muted mg-b-sm2 hide" id="live-message-body">
            </div>
            <div class=" mg-b-lg  " id="review-questions-click-holder">
                <a href="javascript:void(0);" id="review-questions-click" class="btn btn-left btn-sm-xs btn-default mg-r-sm ">
                    <i class="icon-document-1"></i> View Recent sermons
                </a>
                <a href="javascript:void(0)" target="_blank" class="btn btn-left btn-sm-xs btn-default mg-r-sm">
                    <i class="icon-right-2"></i> Connect
                </a>
            </div>
            {% if entry.reviewQuestions %}
            <div id="review-content" class="hide mg-b-lg">
                <div id="message-id" class="hide" style="display:none;">31003</div>
                <div class="mg-b-sm">
                    <h4>Review Questions</h4>
                </div>
                {{ entry.reviewQuestions }}
            </div>
            {% endif %}
        </div>
        <div class="col-md-12 col-lg-5 page-section live-sidebar " id="section-sidebar">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab" tabindex="0">
                    <div id="livestream-chat">
                        {{ craft.youtubelive.embedChat() }}
                    </div>
                    <div id="livestream-no-chat">
                        Chat is currently offline
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab" tabindex="0">
                    <div id="editor">
                        {{ entry.sermonNotes }}
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab" tabindex="0">
                        {{ entry.schedule.loopStartDate | date('Y-m-d\\TH:i:sP') }}
                </div>
                <div class="tab-pane fade" id="pills-extra" role="tabpanel" aria-labelledby="pills-extra-tab" tabindex="0">
                </div>

            </div>
                <div class="nav mb-3 tabs" id="pills-tab" role="tablist">
                    <!--li class="nav-item" role="presentation"-->
                    <button class="nav-link active" id="pills-chat-tab" data-bs-toggle="pill" data-bs-target="#pills-chat" type="button" role="tab" aria-controls="pills-chat" aria-selected="true">
                        Chat
                    </button>
                    <!--/li-->
                    <!--li class="nav-item" role="presentation"-->
                    <button class="nav-link" id="pills-notes-tab" data-bs-toggle="pill" data-bs-target="#pills-notes" type="button" role="tab" aria-controls="pills-notes" aria-selected="false">
                        Notes
                    </button>
                    <!--/li-->
                    <!--li class="nav-item" role="presentation"-->
                    <button class="nav-link" id="pills-schedule-tab" data-bs-toggle="pill" data-bs-target="#pills-schedule" type="button" role="tab" aria-controls="pills-schedule" aria-selected="false">
                        Schedule
                    </button>
                    <!--/li-->
                    <!--li class="nav-item" role="presentation" style="display:none;">
                    <button class="nav-link" id="pills-extra-tab" data-bs-toggle="pill" data-bs-target="#pills-extra" type="button" role="tab" aria-controls="pills-extra" aria-selected="false">Disabled</button>
                </li-->
                </div>
        </div>
    </div>
    <div class="row mg-t-md">
        <div class="col-sm-4 text-center mg-b-md">
            <div class="icon-heart fa-3x teal mg-b-md"></div>
            <p style="padding:0px 16px;">Give to Generic Church and take part in helping us reach every man, woman and child with the Gospel of Jesus Christ.<br><strong>Text any amount to 716.333.5511</strong></p>
            <a href="/donate/" target="_blank" class="btn btn-left btn-default"><i class="icon-right-4"></i> Give Now</a>
        </div>
        <div class="col-sm-4 text-center mg-b-md">
            <div class="icon-group fa-3x teal mg-b-md"></div>
            <p style="padding:0px 16px;">Come join other people like you who want to grow in faith and learn more about what it means to follow Jesus.</p>
            <a href="/small-groups/" target="_blank" class="btn btn-left btn-default"><i class="icon-right-4"></i> Join A Small Group</a>
        </div>
        <div class="col-sm-4 text-center mg-b-md">
            <div class="icon-location-pin-4 fa-3x teal mg-b-md"></div>
            <p style="padding:0px 16px;">Ready to join us in person? Generic Church is one church with multiple locations. We'd love to have you join us for worship!</p>
            <a href="/locations/" target="_blank" class="btn btn-left btn-default"><i class="icon-right-4"></i> Find A Location</a>
        </div>
    </div>
    <!--div class="row">
        <div class="col-md-12 text-center text-muted mg-t-sm">
            <span class="mg-b-xs"><strong><a class="mg-l-xs  inline-popup-link" href="#techsupport-Modal" data-toggle="modal" data-target="#contact-modal">Having trouble viewing this?</a></strong></span>
            <div class="visible-xs"><br></div><span class="mg-b-xs mg-l-md"><strong><a class=" inline-popup-link" href="#prayer-Modal" data-toggle="modal" data-target="#prayer-Modal">Need prayer?</a></strong></span>
        </div>
    </div-->
</div>
<script src="/assets/ckeditor/ckeditor.js"></script>
<script src="/assets/ckeditor/samples/js/sample.js"></script>
{% js %}
{% include "live/live.js" %}
initSample();
{% endjs %}
{% endblock %}